@mixin sizes($type) {
  &.size-xs {
    font-size: calc($type * 0.5);
  }
  &.size-s {
    font-size: calc($type * 0.75);
  }
  &.size-m {
    font-size: $type;
  }
  &.size-l {
    font-size: calc($type * 1.25);
  }
  &.size-xl {
    font-size: calc($type * 1.5);
  }
  &.size-xxl {
    font-size: calc($type * 2);
  }
}

.text-h1 {
  @include fs-heading-xxl;
  @include sizes($fs-heading-xxl);
}

.text-h2 {
  @include fs-heading-xl;
  @include sizes($fs-heading-xl);
}

.text-h3 {
  @include fs-heading-l;
  @include sizes($fs-heading-l);
}

.text-h4 {
  @include fs-heading-m;
  @include sizes($fs-heading-m);
}

.text-h5 {
  @include fs-heading-s;
  @include sizes($fs-heading-s);
  font-weight: 600;
}

.text-h6 {
  @include fs-heading-s;
  @include sizes($fs-heading-s);
}

.text-p {
  @include fs-body-text();
  @include sizes($fs-body-text);
}

.text-span {
  @include fs-body-text();
  @include sizes($fs-body-text);
  line-height: 1;
}

.show-margin:not(.text-span) {
  margin-bottom: margin(1);
}
