.terminal-demo {
  position: relative;
  background-color: #272727;
  color: #ffffff;
  width: 100%;
  border-radius: 11px;
  font-size: 14px;
  height: 250px;
}

.window-bar {
  position: relative;
  display: grid;
  place-items: center;
  padding: 10px;
  background-color: #494949;
  color: #ffffff;
  border-radius: 11px 11px 0 0;
  height: 40px;
}

.window-body {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  overflow-y: scroll;
  height: calc(100% - 40px);
}

.pips {
  position: absolute;
  left: 10px;
}

.pips span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 5px;
}

.pips span:nth-child(1) {
  background-color: #ee665b;
}

.pips span:nth-child(2) {
  background-color: #e0c14c;
}

.pips span:nth-child(3) {
  background-color: #73bf47;
}

.prompt {
  float: left;
  margin-right: 10px;
  font-size: 18px;
}

.command {
  display: block;
  font-size: 18px;
  white-space: pre-wrap;
  margin-bottom: 18px;
}
