.app-header {
  display: grid;
  grid-template-columns: max-content 1fr;
  color: #fff;
  align-items: end;
}

.left-col {
  position: relative;
}

.title {
  .logo {
    display: block;
    width: 400px;
    height: auto;
  }
  .site-name {
    @include sr-only();
  }
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: spacing(2);
}

.nav-item {
  font-size: 1.5rem;
  a {
    color: #fff;
    text-decoration: none;
  }
}

.right-col {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: end;
  align-items: end;
  height: 100%;
  gap: 0;
}
