.holding-page {
  place-items: center;
}

.header {
  width: 500px;
  height: auto;
}

.subheader {
  font-weight: bold;
  margin-bottom: margin(2);
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  gap: spacing(4);
  font-size: 2rem;
  @include mq($bp-medium) {
    grid-template-columns: 3fr 1fr;
  }
}

.form {
  background-color: $col-alt-panel-bg;
  padding: padding(2);
}

.form label {
  font-size: $fs-body-text;
  font-weight: bold;
  margin-bottom: margin(1);
}

.form input {
  padding: padding(0.5) padding(1);
  width: 100%;
  margin-bottom: margin(2);
}

.form label,
.form input {
  display: block;
}

.error {
  color: $col-danger;
  margin-top: margin(1);
  font-size: $fs-body-text;
  font-weight: bold;
}
