@use 'spacing';
@use '@fontsource/albert-sans/scss/mixins' as AlbertSans;

@include AlbertSans.fontFace(
  $weight: 300,
  $display: 'fallback',
  $fontName: 'Albert Sans'
);
@include AlbertSans.fontFace($weight: 400, $display: 'fallback');
@include AlbertSans.fontFace(
  $weight: 400,
  $style: italic,
  $display: 'fallback',
  $fontName: 'Albert Sans'
);
@include AlbertSans.fontFace(
  $weight: 700,
  $display: 'fallback',
  $fontName: 'Albert Sans'
);
@include AlbertSans.fontFace(
  $weight: 700,
  $style: italic,
  $display: 'fallback',
  $fontName: 'Albert Sans'
);
@include AlbertSans.fontFace(
  $weight: 900,
  $display: 'fallback',
  $fontName: 'Albert Sans'
);

$fs-body-text: 1.4rem;

$fs-heading-xxl: 3.2rem;
$fs-heading-xl: 2.2rem;
$fs-heading-l: 2rem;
$fs-heading-m: 1.6rem;
$fs-heading-s: 1.4rem;

$fs-input: $fs-body-text;
$fs-input-label: $fs-input;
$fs-input-placeholder: $fs-input;
$fs-form-metadata: 1.2rem;
$fs-button: 1.6rem;
$fs-link: 1.6rem;

@mixin fs-heading-xxl {
  font-size: $fs-heading-xxl;
  font-weight: 700;
  line-height: 1.2;
}

@mixin fs-heading-xl {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 700;
  font-size: $fs-heading-xl;
  line-height: 1.2;
}

@mixin fs-heading-l {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 700;
  font-size: $fs-heading-l;
  line-height: 1.2;
}

@mixin fs-heading-m {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 700;
  font-size: $fs-heading-m;
  line-height: 1.2;
}

@mixin fs-heading-s {
  font-family: 'Albert Sans', sans-serif;
  font-size: $fs-heading-s;
  line-height: 1.2;
}

@mixin fs-body-text {
  font-family: 'Albert Sans', sans-serif;
  font-size: $fs-body-text;
  line-height: 1.4;
}

.body-text {
  @include fs-body-text;
}

/* Forms and buttons */
@mixin fs-input {
  font-family: 'Albert Sans', sans-serif;
  font-size: $fs-input;
  line-height: 1rem;
}

.fs-input {
  @include fs-input;
}

@mixin fs-input-label {
  font-family: 'Albert Sans', sans-serif;
  font-size: $fs-input-label;
  line-height: 1;
}

.fs-input-label {
  @include fs-input-label;
}

@mixin fs-input-placeholder {
  font-family: 'Albert Sans', sans-serif;
  font-size: $fs-input-placeholder;
  line-height: 1.8rem;
}

.fs-input-placeholder {
  @include fs-input-placeholder;
}

@mixin fs-form-metadata {
  font-family: 'Albert Sans', sans-serif;
  font-size: $fs-form-metadata;
  line-height: 1.8rem;
}

.fs-form-metadata {
  @include fs-form-metadata;
}

@mixin fs-button {
  font-family: 'Albert Sans', sans-serif;
  font-size: $fs-button;
  line-height: 1;
}

.fs-button {
  @include fs-button;
}

/* Links */

@mixin fs-link {
  font-family: 'Albert Sans', sans-serif;
  font-size: $fs-link;
  line-height: 1;
}

.fs-link {
  @include fs-link;
}
